[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

# INI BAGIAN PENTING YANG KURANG:
[dev]
  command = "npm run dev"
  targetPort = 3000
  publish = "public"